

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "silka";
  src: url(fonts/silka-regular-webfont.woff);
}

@font-face{
  font-family: "silka medium";
  src: url(fonts/Silka-Medium.ttf);
}

@font-face {
  font-family: "made gentle";
  src: url(fonts/made_gentle.otf);
}



html {
  --white: #fff;
  --light-gray: #F7F2F2;
  --gray: #EDE9E9;
  --dark-gray: #87888B;
  --cyan-gray: #8A949E;
  --black: #0D1116;
  --orange: #EC7B5B;
  --red: #F44C1F;
  --snow: #F0F2F8;
  --onyx: #30363D;
  --glossy-black: #0D1116;
  --dark-black: #0A0C10;
  --font-silka-regular: "silka";
  --font-silka-medium: "silka medium";
  --font-made-gentile: "made gentle";
  --transparent-gray:rgb(237,237,237,0.6);
}

/************************* design system page designs *************************/

/**** global text designs ****/
a{
  text-decoration: none;
  color: var(--snow);
}

a:hover{
  color: var(--dark-gray);
}

h1{
  font-size: 40px;
}

h2{
  font-size: 28px;
}
h3{
  font-size: 18px;
  margin: 8px 0;
}

.component_page {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: auto;
  background-color: var(--light-gray);
}


.content-container{
  width: 1000px;
}

/**** navigation bar ****/

.nav{
  position: fixed;
  left: 0;
  float: left;
  width: 20%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark-black);
}
.main{
    float: right;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.design-container{
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 5px var(--gray);
}

.wordmark{
  font-family: "made gentle";
  font-size: 40px;
  color: var(--orange);
}

.nav-list{
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 36px;
}

.nav-sub{
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.nav-item--header{
  margin-bottom: 30px;
}

.nav-container{
  padding: 0px 24px;
}

.content-container{
  padding: 10px 24px;
}



/*************************Typography*************************/
/*reference images sizes*/

.typography-img__body{
  width: 800px;
}

.typography-img__navtext{
  width: 300px;
}

.typography-img__headertext{
  width: 300px;
}

.header-img{
  width: 500px;
}

/*Typograohy CODE*/

.typography-code__body{
  font-family: "silka";
  font-size: 16px;
  line-height: 28px;
}


.typography-code__nav{
  font-family: "silka medium";
  font-size: 16px;
}

.typography-code__header{
  font-family: "made gentle";
  font-size: 18px;
}

.typography a{
  color: var(--orange);
}

/*************************Header*************************/

.header-wordmark{
  color: var(--orange);
  font-family: "made gentle";
  font-size: 40px;
}
.header-wordmark:hover{
  color: var(--red);
}

.header-navlist{
  display: inline-flex;
  list-style: none;
  font-size: 14px;
  color: var(--black);
  padding: 5px;
  margin: 0;
  background-color: var(--gray);
  border-radius: 24px;
  font-family: "silka medium";
}

.header-navitem{
  display: inline-block;
  color: var(--black);
  padding: 8px 16px;
  background-color: var(--gray);
  border-radius: 24px;
}

.navitem--active{
  background-color: white;
}


.header-contact{
  display: inline-block;
  padding: 20px;
  font-family: "silka medium";
  background-color: var(--light-gray);
  color: var(--black);
}

.header-code {
  background-color: var(--light-gray);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*************************Content Atoms*************************/
.button-code{
  display: inline-block;
  background-color: var(--dark-black);
  padding: 20px;
}

.button-text{
  margin: 0 4px;
}
.button-icon{
  margin: 0 4px;
  width: 10px;
}

.button{
  font-size: 15px;
  font-family:"silka";
  color: var(--black);
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  outline: solid 1px var(--transparent-gray);
  transition: outline 0.3s linear;
  padding: 8px 10px;
  border-radius: 24px;
}
.button:hover{
  outline-width: 5px;
}

.button2{
  font-family:"silka medium";
    background-color: var(--gray);
}

.button3{
    border: 2px solid var(--gray);
}


.button4{
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  outline: solid 1px var(--transparent-gray);
    transition: outline 0.3s linear;
}
.button4:hover{
  outline-width: 5px;
}


.button5{
  font-family:"silka medium";
  border: 2px solid var(--gray);
}

.button5-icon{
  width: 15px;
  margin: 0 4px;
}

/*************************Cards*************************/

.card1{
  background-color: var(--white);
  border-radius: 32px;
  padding: 40px 44px;
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 600px;
}

.card1-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.card2{
  margin: 10px;
  background-color: #6886c5;
  height: 290px;
    width: 290px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}


.linkedin-logo{
  width: 68px;
}














