<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pi's Case Study Design System</title>
  </head>
  <body>
    <h1>Pi's Case Study Design System</h1>
    <p>This is a collection of components based on my study of the design system of the <a href="#">Rob's website</a></p>
    <h2>Typography</h2>
        <h3>Silka Regular</h3>
        <p>Used for body copy and buttons</p>
        <img src="imgs/bodycopy.png" alt="example of body copy">
        <p>A short personal history as it relates to design and development, and how I've found value in the cross-section between both disciplines.</p>
        <h3>Silka Medium</h3>
        <p>Used for main navigation and sub notes.</p>
        <img src="imgs/navtext.png" alt="example of nav text">
        <p>Home About Projects Tools</p>
        <h3>Made Gentle</h3>
        <p>Used for Wordmark and section headers.</p>
            <img src="imgs/section_title.png" alt="example of section title">
            <p>How it started vs. how it's going</p>
    <h2>Header Atoms</h2>
        <h3>Wordmark</h3>
        <img src="imgs/wordmark.png" alt="example of Wordmark">
        <p>rob</p>
        <h3>Nav List</h3>
        <img src="imgs/navlist.png" alt="example of navigation list">
        <h3>Contact</h3>
        <img src="imgs/contact.png" alt="example of contact button">
    <h2>Header</h2>
    <img src="imgs/header.png" alt="example of header section">
    <h2>Content Atoms</h2>
        <h3>Buttons</h3>
        <img src="imgs/button1.png">
        <img src="imgs/button2.png">
        <img src="imgs/button3.png">
        <img src="imgs/button4.png">
        <img src="imgs/button5.png">
        <h3>Cards</h3>
        <img src="imgs/card1.png">
        <img src="imgs/card2.png">
  </body>
</html>