<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="css/normalize.css" rel="stylesheet">
      <link href="css/index.css" rel="stylesheet">
      <title>Pi's Case Study Design System</title>
   </head>
   <body class="component_page">
      <nav class="nav">
         <div class="nav-container">
            <p class="wordmark">Pi</p>
            <ul class="nav-list">
               <li>
                  <a href="index.html#typography">Typography</a>
               </li>
               <ul class="nav-sub">
                  <li>
                     <a href="index.html#silka_regular">Silka Regular</a>
                  </li>
                  <li>
                     <a href="index.html#silka_medium">Silka Medium</a>
                  </li>
                  <li>
                     <a href="index.html#made_gentle">Made Gentle</a>
                  </li>
                  <li>
                     <a href="index.html#links">Links</a>
                  </li>
               </ul>
               <li>
                  <a href="index.html#header_atoms">Header Atoms</a>
               </li>
               <ul class="nav-sub">
                  <li>
                     <a href="index.html#wordmark">Wordmark</a>
                  </li>
                  <li>
                     <a href="index.html#nav_list">Nav List</a>
                  </li>
                  <li>
                     <a href="index.html#contact">Contact</a>
                  </li>
               </ul>
               <li class="nav-item--header">
                  <a href="index.html#header">Header</a>
               </li>
               <li>
                  <a href="index.html#content_atoms">Content Atoms</a>
               </li>
               <ul class="nav-sub">
                  <li>
                     <a href="#buttons">Buttons</a>
                  </li>
                  <li>
                     <a href="index.html#cards">Cards</a>
                  </li>
               </ul>
            </ul>
         </div>
      </nav>
      <main class="main">
         <div class="content-container">
            <section class="hero">
               <h1>Web Design System</h1>
               <p>This is a collection of components based on my study of the design system of the <a href="#">Rob's website</a>
               </p>
            </section>
            <div class="typography">
               <h2 id="typography">Typography</h2>
               <div class="design-container">
                  <h3 id="silka_regular">Silka Regular</h3>
                  <p>Used for body copy and buttons</p>
                  <img class="typography-img__body" src="imgs/bodycopy.png" alt="example of body copy">
                  <p class="typography-code__body">A short personal history as it relates to design and development, and how I've found value in the cross-section between both disciplines.</p>
               </div>
               <div class="design-container">
                  <h3 id="silka_medium">Silka Medium</h3>
                  <p>Used for main navigation and sub notes.</p>
                  <img class="typography-img__navtext" src="imgs/navtext.png" alt="example of nav text">
                  <p class="typography-code__nav">Home About Projects Tools</p>
               </div>
               <div class="design-container">
                  <h3 id="made_gentle">Made Gentle</h3>
                  <p>Used for Wordmark and section headers.</p>
                  <img class="typography-img__headertext" src="imgs/section_title.png" alt="example of section title">
                  <p class="typography-code__header">How it started vs. how it's going</p>
               </div>
               <div class="design-container">
                  <h3 id="links">Links</h3>
                  <a href="#">#AI</a>
                  <a href="#">#Animation</a>
                  <a href="#">#App</a>
                  <a href="#">#Builder</a>
               </div>
            </div>
            <h2 id="header_atoms">Header Atoms</h2>
            <div class="design-container">
               <h3 id="wordmark">Wordmark</h3>
               <img src="imgs/wordmark.png" alt="example of Wordmark">
               <a class="header-wordmark" href="index.html">rob</a>
            </div>
            <div class="design-container">
               <h3 id="nav-list">Nav List</h3>
               <img src="imgs/navlist.png" alt="example of navigation list">
               <ul class="header-navlist">
                  <li>
                     <a class="header-navitem navitem--active" href="#">Home</a>
                  </li>
                  <li>
                     <a class="header-navitem" href="#">About</a>
                  </li>
                  <li>
                     <a class="header-navitem" href="#">Projects</a>
                  </li>
                  <li>
                     <a class="header-navitem" href="#">Tools</a>
                  </li>
               </ul>
            </div>
            <div class="design-container">
               <h3 id="contact">Contact</h3>
               <img src="imgs/contact.png" alt="example of contact button">
               <div>
                  <a class="header-contact" href="#">Contact</a>
               </div>
            </div>
            <h2 id="header">Header</h2>
            <div class="design-container">
               <img class="header-img" src="imgs/header.png" alt="example of header section">
               <div class="header-code">
                  <a class="header-wordmark" href="index.html">rob</a>
                  <ul class="header-navlist">
                     <li>
                        <a class="header-navitem navitem--active" href="#">Home</a>
                     </li>
                     <li>
                        <a class="header-navitem" href="#">About</a>
                     </li>
                     <li>
                        <a class="header-navitem" href="#">Projects</a>
                     </li>
                     <li>
                        <a class="header-navitem" href="#">Tools</a>
                     </li>
                  </ul>
                  <a class="header-contact" href="#">Contact</a>
               </div>
            </div>
            <h2 id="content_atoms">Content Atoms</h2>
            <h3 id="buttons">Buttons</h3>
            <div class="design-container">
               <p>Button 1</p>
               <img src="imgs/button1.png">
               <div class="button-code">
                  <a class="button" href="#">
                     <p class="button-text">Baasbox</p>
                     <img class="button-icon" src="imgs/vector.png">
                  </a>
               </div>
            </div>
            <div class="design-container">
               <p>Button 2</p>
               <img src="imgs/button2.png">
               <div class="button-code">
                  <a class="button2 button">
                     <p class="button-text">Web</p>
                     <img class="button-icon" src="imgs/vector.png">
                  </a>
               </div>
            </div>
            <div class="design-container">
               <p>Button 3</p>
               <img src="imgs/button3.png">
               <div class="button-code">
                  <a class="button3 button" href="#">
                     <img class="button-icon" src="imgs/vector.png">
                     <p class="button-text">Read more</p>
                  </a>
               </div>
            </div>
            <div class="design-container">
               <p>Button 4</p>
               <img src="imgs/button4.png">
               <div class="button-code">
                  <a class="button4" href="#">
                     <img class="button-icon" src="imgs/vector.png">
                  </a>
               </div>
            </div>
            <div class="design-container">
               <p>Button 5</p>
               <img src="imgs/button5.png">
               <div class="button-code">
                  <a class="button5 button" href="#">
                     <img class="button5-icon" src="imgs/loading.png">
                     <p class="button-text">Toggle Lockdown</p>
                  </a>
               </div>
            </div>
            <h3 id="cards">Cards</h3>
            <img src="imgs/card1.png">
            <div class="card1">
               <div class="card1-content">
                  <p class="typography-code__header card1-header">Let's create something special!</p>
                  <p class="typography-code__body">I accept freelance jobs, collaborating with companies, startups and brands.</p>
               </div>
               <div class="card1-cta">
                  <a class="button3 button" href="#">
                     <img class="button-icon" src="imgs/vector.png">
                     <p class="button-text">Let's talk</p>
                  </a>
                  <p class="typography-code__body">Current time in Rome <span class="typography-code__header card1-header">17:34</span>
                  </p>
               </div>
            </div>
            <img src="imgs/card2.png">
            <div class="card2">
               <img class="linkedin-logo" src="imgs/linkedin-logo.png">
               <a class="button4 linkedin-cta" href="#">
                  <img class="button-icon" src="imgs/vector.png">
               </a>
            </div>
            <img class="card3-reference" src="imgs/card3.png" alt="reference image for card design 3">
            <div class="card3">
               <a class="button5 button card3-cta" href="#">
                  <img class="button5-icon" src="imgs/loading.png">
                  <p class="button-text">Toggle Lockdown</p>
               </a>
               <img class="avatar" src="imgs/avataaars.png" alt="avatar image">
               <p class="typography-code__body">I'm <span class="typography-code__header card3-header">rob</span>, a web developer from Italy. I'm interested in Code, Design, Business, Crypto, Startups and Marketing. </p>
            </div>
         </div>
      </main>
   </body>
</html>